<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Astronaut details</title>
</head>
<body>

	<h1>AstroNaut List</h1>
	<h2 th:text="'Current number of People in space : '+${res.getNumber()}"></h2>
	<table class="table table-hover table-striped">
	<thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Craft</th>
    </tr>
  </thead>
  <tbody>
        <tr th:each="Astro : ${AstroList}">
        <td th:text="${Astro.getName()}"></td>
        <td th:text="${Astro.getCraft()}"></td>
        </tr>
        </tbody>
</table>
</body>
</html>